<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <title>Ping Pong</title>
  </head>
  <body>
    <div class="container">
      <h1>Ping Pong</h1>
      <p>Enter a number to get ping ponged</p>
      <form action="/view_ping_pong">
        <div class="form-group">
          <label for="number">Number:</label>
          <input id="number" name="number" class="form-control" type="number">
        </div>
        <button type="submit" class="btn-success">Translate</button>
      </form>
    </div>
  </body>
</html>
